Desktop
Documents
Downloads
mame
Music
Pictures
Public
Templates
Videos

.ICEauthority
.Xauthority
.adobe
.bash_history
.cache
.compiz
.config
.dbus
.gconf
.gnome
.gstreamer*
.local
.macromedia
.mame
.pki
.profile
.viminfo
.xsession-errors
