Desktop
Documents
Downloads
mame
Music
Pictures
Public
Templates
Videos

package.lst

.ICEauthority
.Xauthority
.adobe
.bash_history
.cache
.compiz
.config
.dbus
.gconf
.gnome
.gstreamer*
.java
.local
.macromedia
.mame
.pki
.profile
.python_history
.ssh
.viminfo
.xsession-errors*
